<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>한결 HWPX 문서</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.hangyeol.hwpx</string>
				<string>net.golbin.hop.hwpx</string>
				<string>com.haansoft.HancomOfficeViewer.mac.hwpx</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hwpx</string>
			</array>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>한결 HWP 문서</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.hangyeol.hwp</string>
				<string>net.golbin.hop.hwp</string>
				<string>com.infraware.polarisofficeservice.hwp</string>
				<string>com.haansoft.HancomOfficeViewer.mac.hwp</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hwp</string>
			</array>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.hangyeol.hwpx</string>
			<key>UTTypeDescription</key>
			<string>한결 HWPX 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.hancom.hwpx</string>
					<string>application/x-hwpx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.hangyeol.hwp</string>
			<key>UTTypeDescription</key>
			<string>한결 HWP 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-hwp</string>
					<string>application/vnd.hancom.hwp</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.golbin.hop.hwpx</string>
			<key>UTTypeDescription</key>
			<string>HWPX 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwpx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.haansoft.HancomOfficeViewer.mac.hwpx</string>
			<key>UTTypeDescription</key>
			<string>HWPX 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.golbin.hop.hwp</string>
			<key>UTTypeDescription</key>
			<string>HWP 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.infraware.polarisofficeservice.hwp</string>
			<key>UTTypeDescription</key>
			<string>HWP 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.haansoft.HancomOfficeViewer.mac.hwp</string>
			<key>UTTypeDescription</key>
			<string>HWP 문서</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
</dict>
</plist>
